.root {
    -fx-verde-escuro: #033020;
    -fx-bege-claro: #F5EBE2;
    -fx-branco: #FAF6F0;
    -fx-borda-bege: #E2DCD5;
    -fx-preto: #111111;

    -fx-font-family: "Roboto";
}

/* TELA */
.login-root {
    -fx-background-color: -fx-bege-claro;
}

/* CARD */
.login-card {
    -fx-background-color: -fx-branco;
    -fx-background-radius: 15;
    -fx-padding: 40;
}

/* TÍTULO */
.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: 300;
    -fx-text-fill: -fx-preto;
}

/* INPUTS */
.input-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: -fx-borda-bege;
    -fx-border-radius: 5;
    -fx-padding: 0 12 0 12;
    -fx-pref-height: 45;
}

.input-field:focused {
    -fx-border-color: -fx-verde-escuro;
    -fx-border-width: 1.5;
}

/* BOTÃO */
.login-button {
    -fx-background-color: -fx-verde-escuro;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-pref-height: 45;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-opacity: 0.9;
}

.login-button:pressed {
    -fx-opacity: 0.8;
}

.produto-card {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 8;
    -fx-padding: 12;
}

.produto-card:hover {
    -fx-background-color: #E5E5E5;
}

.produto-nome {
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.produto-info {
    -fx-text-fill: #555555;
    -fx-font-size: 12px;
}

.produto-estoque {
    -fx-text-fill: #6BB759;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.clicavel {
    -fx-cursor: hand;
}

.btn-editar-produto {
    -fx-background-color: #E2F0DD;
    -fx-background-radius: 50;
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-max-width: 32;
    -fx-max-height: 32;
    -fx-cursor: hand;
}

.linha-carrinho {
    -fx-padding: 15 0 15 0;
    -fx-border-color: #F1F1F1;
    -fx-border-width: 0 0 1 0;
}

.carrinho-produto-nome {
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.carrinho-produto-categoria {
    -fx-text-fill: #888888;
    -fx-font-size: 11px;
}

.carrinho-preco-unitario {
    -fx-text-fill: -fx-preto;
}

.carrinho-total {
    -fx-text-fill: -fx-preto;
}

.label-qtd {
    -fx-background-color: #EFEFEF;
    -fx-padding: 4 12 4 12;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}

.btn-qtd {
    -fx-background-color: transparent;
    -fx-text-fill: #888888;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-qtd:hover {
    -fx-text-fill: #033020;
}

.btn-remover-item {
    -fx-background-color: #FFEFEA;
    -fx-background-radius: 50;
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-max-width: 32;
    -fx-max-height: 32;
    -fx-cursor: hand;
}

.btn-remover-item:hover {
    -fx-opacity: 0.85;
}

.modal-container {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 16;
    -fx-alignment: top-center;
}

.modal-titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.modal-label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.modal-input {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-padding: 8;
    -fx-border-width: 0;
}

.modal-combo {
    -fx-background-color: white;
    -fx-background-radius: 6;
}

.btn-fechar-modal {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.btn-salvar-modal {
    -fx-background-color: -fx-verde-escuro;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-height: 35;
    -fx-cursor: hand;
    -fx-padding: 10 100;
}

.botao-acao {
    -fx-background-radius: 50;
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-max-width: 32;
    -fx-max-height: 32;
    -fx-cursor: hand;
}

.botao-acao-verde {
    -fx-background-color: #E2F0DD;
}

.botao-acao-vermelho {
    -fx-background-color: #FFEFEA;
}

.botao-acao-amarelo {
    -fx-background-color: #FFF4D6;
}